@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: B612, sans-serif;
  background: linear-gradient(89deg, rgb(255, 203, 33), rgb(20, 181, 192));
  overflow-x: hidden;
  letter-spacing: 1px;
}
